body, html {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#overlay {
  position: absolute;
  z-index: 99;
}

#core {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#core-text, #core-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#core-text-input {
  position: relative;
  resize: none;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  font-family: 'Delius';
  display: flex;
  align-items: center;
}

input[type=radio] {
  display: none;
}

.properties {
  top: 16px;
  right: 16px;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.tools {
  position: fixed;
  z-index: 1;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.files {
  position: fixed;
  z-index: 1;
  top: 16px;
  left: 16px;
}

.row {
  display: flex;
  gap: 8px;
}

.card {
  border-radius: 6px;
  padding: 6px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #F0F0F0;
  display: flex;
  width: auto;
}

.card-col {
  flex-direction: column;
  gap: 16px;
}

.card-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.card label, button {
  border: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  font-size: 13px;
  gap: 6px;
}

button.w-auto {
  padding: 0px 8px;
  width: auto;
}

.card label.with-bg, button.with-bg {
  background-color: rgba(190, 188, 156, .17);
}

.card label:hover, button:hover {
  background-color: rgba(26, 188, 156, .17);
}

.card input:checked + label, button.active {
  background-color: rgb(26, 188, 156);
  color: white;
}

.color {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  border: 1px solid #EEE;
}

.card-title {
  font-size: 10px;
  line-height: 8px;
  margin: 2px 0 3px 2px;
  color: #AAA;
  font-family: Arial;
}

.text-size-small {
  font-size: 10px;
}

.text-size-large {
  font-size: 17px;
}

.dropdown {
  overflow: hidden;
  gap: 4px;
  margin: 8px 0 0 0;
  min-width: 150px;
}

.dropdown-button {
  width: 100%;
  margin: 0;
  padding: 2px 8px;
  justify-content: flex-start;
}
